.herosection {
    height: 100vh;
    min-height: 500px;
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        position: relative;
        z-index: 2;
    }
}

.herosection__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: 50% 50%;
}

.herosection__wrapper {
    text-align: center;
    margin-top: -100px;

    .mainlogo {
        max-width: 470px;
        margin: 0 auto 80px;
    }

    h1 {
        font-family: 'Agdasima-Bold';
        font-size: 54px;
        text-transform: uppercase;
        color: #fff;
        line-height: 130%;

        span {
            display: block;
            color: #f24444;
        }
    }
}

.contractors {
    background: #f24444;
    padding: 80px 0 280px;
    position: relative;
}

.contractors__header {
    text-align: center;
    margin-bottom: 100px;

    h2 {
        font-family: 'Agdasima-Bold';
        font-size: 70px;
        text-transform: uppercase;
        color: #fff;
        line-height: 120%;
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 25px;

        &::after {
            content: '';
            display: block;
            margin: 0 auto;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 5px;
            background: #fff;
            max-width: 450px;
        }

        span {
            display: block;
            color: #212e40;
        }
    }

    p {
        margin: 0;
        color: #212e40;
        font-size: 23px;
        font-family: 'NewBlackTypeface-Medium';
    }
}

.contractors__body {
    .col-lg-6 {
        margin-bottom: 30px;
    }
}

.contractors__box {
    border: 6px solid #212e40;
    background: #fff;
    height: 100%;

    .title {
        background: #212e40;
        text-align: center;
        min-height: 56px;
        padding: 1px 10px 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-family: 'Agdasima-Bold';
            text-transform: uppercase;
            color: #fff;
            margin: 0;
            font-size: 30px;
        }
    }

    .descr {
        padding: 20px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            font-family: 'NewBlackTypeface-Regular';
            padding-left: 20px;
            position: relative;
            font-size: 24px;
            line-height: 150%;

            &::after {
                content: '»';
                font-family: 'MYRIADPRO-REGULAR';
                position: absolute;
                left: 0;
                top: -3px;
                font-size: 30px;
                color: #f24444;
            }
        }
    }

    &.reverse-colors {
        background: #212e40;

        .title {
            background: #fff;

            p {
                color: #212e40;
            }
        }

        ul {
            li {
                color: #fff;
            }
        }
    }
}

.contractors__bottimg {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    max-width: 850px;
    width: 100%;
}

@media(max-width:1399.8px) {

    .herosection__wrapper .mainlogo {
        max-width: 360px;
        margin-bottom: 50px;
    }

    .herosection__wrapper h1 {
        font-size: 48px;
    }

    .herosection__wrapper {
        margin-top: -50px;
    }

    .contractors__header h2 {
        font-size: 56px;
    }

    .contractors__header p {
        font-size: 18px;
    }

    .contractors__header {
        margin-bottom: 70px;
    }

    .contractors__box .title p {
        font-size: 26px;
    }

    .contractors__box ul li {
        font-size: 21px;
    }

    .contractors__bottimg {
        max-width: 700px;
    }

    .contractors {
        padding-bottom: 230px;
    }
}

@media(max-width:991.8px) {
    .contractors {
        padding-top: 60px;
    }

    .contractors__header h2 {
        font-size: 50px;
    }

    .contractors__header {
        margin-bottom: 50px;
    }

    .contractors__box {
        height: auto;
    }

    .contractors__bottimg {
        max-width: 600px;
    }

}

@media(max-width:767.8px) {
    .herosection__wrapper .mainlogo {
        max-width: 300px;
        margin-bottom: 30px;
    }

    .contractors__header h2 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .contractors__header {
        margin-bottom: 30px;
    }

    .contractors__box ul li {
        font-size: 18px;
    }

    .contractors {
        padding-bottom: 220px;
    }
}

@media(max-width:575.8px) {
    .herosection__wrapper .mainlogo {
        max-width: 240px;
        margin-bottom: 30px;
    }

    .herosection__wrapper h1 {
        font-size: 36px;
    }

    .contractors {
        padding-top: 50px;
    }

    .contractors__header h2 {
        font-size: 36px;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .contractors__header h2:after {
        height: 3px;
    }

    .contractors__box .descr {
        padding: 15px;
    }

    .contractors__box ul li {
        margin-bottom: 5px;
    }

    .contractors__body .col-lg-6 {
        margin-bottom: 20px;
    }




    .contractors__box .title p {
        font-size: 24px;
    }

    .contractors__header p,
    .contractors__box ul li {
        font-size: 16px;
    }
}

@media(max-width:360.8px) {
    .contractors {
        padding-bottom: 170px;
    }
}
